<div class="container mx-auto">
    <h2 class="font-display text-4xl max-w-[35rem] mb-14">
        {{ section.title }}
    </h2>

<!-- Cartes -->
<div class="grid grid-cols-1 md:grid-cols-3 gap-4">
  {% for card in section.priceCards %}
  <div 
    class="p-9 py-6 rounded-2xl
    {% if card.isHighlighted %}bg-custom-blue text-white{% else %}bg-neutral-900 text-white{% endif %}">
    
    <!-- Titre -->
    <h3 class="font-display text-2xl mb-4">
      {{ card.title }}
    </h3>
    
    <!-- Prix principal -->
    <p class="text-4xl font-extrabold mb-6">
      {{ card.price }} M €
    </p>

    <p class="text-sm">{{ section.description }} <span class="brut-value">{{ card.price * 1_000_000 }}<span></p>

    <!-- Barre de contrôle -->
    <div class="flex items-center gap-4 my-4">
    <input 
        type="range" 
        min="400000" 
        max="10000000" 
        step="100000" 
        value="5000000" 
        class="slider-sync w-64 appearance-none h-2 bg-gray-700 rounded-lg outline-none w-full"
    />
    </div>

    <!-- Détails -->
<div class="space-y-4 text-sm mt-6">
  <div class="flex items-center">
    <span>Frais de mise en place : </span>
    <span class="font-semibold setup-cost ml-2" data-value="{{ card.setupCost }}"> {{ card.setupCost }} K €</span>
  </div>
  <div class="flex items-center">
    <span>Frais de performance : </span>
    <span class="font-semibold performance-rate ml-2" data-value="{{ card.performanceFees }}"> {{ card.performanceFees }}% ({{ (card.performanceFees * card.price * 1000 / 100) }} K €)</span>
  </div>
  <div class="flex items-center">
    <span>Maintenance : </span>
    <span class="font-semibold maintenance-rate ml-2" data-value="{{ card.maintenance }}"> {{ card.maintenance }}% ({{ (card.maintenance * card.price * 1000 / 100) }} K €)</span>
  </div>
</div>
<a href="{{ section.button.link or '#' }}" 
   class="inline-flex items-center text-center rounded-lg my-4 bg-yellow-400 text-black py-3 px-3 hover:bg-yellow-300 transition-all duration-300 mt-6">
  Réserver une démo
  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" class="ml-2">
    <path d="M11.293 4.707 17.586 11H4v2h13.586l-6.293 6.293 1.414 1.414L21.414 12l-8.707-8.707-1.414 1.414z" />
  </svg>
</a>
  </div>
  {% endfor %}
</div>
</div>