{% extends "layout.njk" %}

{% block content %}
<main class="w-full">
  {% if page.sections %}
    {% for section in page.sections %}
      <!-- Section principale -->
      <section 
        class="w-full 
          {% if section.__component == 'sections.hero-section' %} pb-10
          {% elif section.__component == 'sections.card-section' %}bg-custom-blue p-10 rounded-3xl	
          {% elif section.__component == 'sections.statistics-section' %}p-5
          {% else %}my-12 p-10{% endif %}
          max-w-screen-2xl mx-auto">
        
        {% if section.__component == "sections.hero-section" %}
          {% include "sections/hero-section.njk" %}
        
        {% elif section.__component == "sections.card-section" %}
          {% include "sections/card-section.njk" %}

        {% elif section.__component == "sections.price-comparator" %}
          {% include "sections/price-comparator.njk" %}
        
        {% elif section.__component == "sections.steps-section" %}
          {% include "sections/steps-section.njk" %}
        
        {% elif section.__component == "sections.statistics-section" %}
          {% include "sections/statistics-section.njk" %}
        
        {% elif section.__component == "sections.faq-section" %}
          {% include "sections/faq-section.njk" %}
        
        {% else %}
          <div class="bg-red-700 p-4 rounded-lg">
            <p>Composant inconnu : {{ section.__component }}</p>
          </div>
        {% endif %}
      </section>
    {% endfor %}
  {% else %}
    <p class="text-center text-red-400">Aucune section trouvée.</p>
  {% endif %}
</main>
{% endblock %}
